.header {
  background-color: white;
  height: 95px; 
}
.kirby{
  float: left;
  width: 10%;
  height: 95px;
  padding-right: 10%;
}
.logo{
  float: left;
  width: 50%;
  height: 100px;
  padding-left: 10px;
}
  


